<div class="feed">
  <% @library.each do |donation| %>
    <div class="col-xs-12">
      <div class="card" data-donation-id="<%= donation.id %>">
        <div class="top-row">
          <%= cl_image_tag donation.episode.podcast.artwork, height: 100, width: 100 %>
          <h2 class= 'episode-name hidden-xs'>
            <%= donation.episode.name %>
          </h2>
          <h2 class= 'small-episode-name hidden-sm hidden-md hidden-lg'>
            <%= donation.episode.name %>
          </h2>
          <div class="artwork text-right">

          </div>
        </div>
        <div class="bottom-row">
        <p class="podcast-name text-right hidden-xs hidden-sm">
            <%=
              name = donation.episode.podcast.name.split(' ')
              while name.join(' ').length > 30
                name.pop
              end
              "#{name.join(' ')}"
             %>
          </p>
          <div class="favo-icons">
              <% if @user.saved_donations.include?(donation) %>
                <%= link_to bookmark_path(Bookmark.find_by(donation_id: donation.id)), method: :delete, remote: true do %>
                  <i class="yellow fas fa-star star"></i>
                <% end %>
              <% else %>
                <%= link_to bookmarks_path(donation_id: donation), method: :post do %>
                  <i class="fas fa-star star"></i>
                <% end %>
              <% end %>
              <%= link_to '#', method: :post do %>
                <i class="fas fa-play"></i>
              <% end %>
          </div>

        </div>
      </div>
    </div>
  <% end %>
</div>
