<div class="login-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="login">
          <h2>Edit '<%= @user.username %>'</h2>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>
          <div class="login-input">
            <%= f.input :username, required: true, autofocus: true %>
            <%= f.input :profile_pic %>
            <%= f.input :email, required: true %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
            <%= f.input :password_confirmation, required: false %>
            <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Update", class: "login-button"%>
            <%= link_to "Back", :back, class: "btn login-back" %>
          </div>
          <div class="update-cancel">
            <h3>Cancel my account</h3>

            <p>Unhappy?</p> <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn cancel-button" %>

          </div>

        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
