<div class="notifications-wrapper">
  <div class="container">
    <% if @notifications.empty? %>
      <p>No Notifications Yet</p>
    <% else %>
      <div class="row">
        <div class="col-xs-12 height">
          <% @notifications.each do |n| %>
          <div class="card notifications">
            <% if n.bookmark.nil? %>
            <div class="card-image item-avatar"><%= link_to cl_image_tag(n.follower.profile_pic), user_path(n.follower) %></div>
            <div class="card-info size"><strong><%= link_to n.follower.username, user_path(n.follower) %></strong> followed you</div>
            <div class="timestamp"><%= distance_of_time_in_words(Time.now, n.created_at) %> ago</div>
            <% else %>
            <%= link_to user_path(n.bookmark.user) do %>
              <div class="card-image item-avatar"><%= cl_image_tag n.bookmark.user.profile_pic %></div>
            <% end %>
            <div class="card-info size"> <strong><%= link_to n.bookmark.user.username, user_path(n.bookmark.user) %></strong>  bookmarked your donation to <strong><%= link_to n.bookmark.episode.name, episode_path(n.bookmark.episode) %></strong></div>
            <div class="timestamp"><%= distance_of_time_in_words(Time.now, n.created_at) %> ago</div>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>






