<div class="notifications-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 height">
        <% @notifications.each do |n| %>
        <div class="card notifications">
          <% if n.bookmark.nil? %>
          <div class="card-image item"><%= link_to cl_image_tag(n.follower.profile_pic), user_path(n.follower) %></div>
          <div class="card-info size"><strong><%= link_to n.follower.username, user_path(n.follower) %></strong> followed you</div>
          <div class="timestamp"><%= distance_of_time_in_words(Time.now, n.created_at) %> ago</div>
          <% else %>
          <%= link_to user_path(n.bookmark.user) do %>
            <div class="card-image item"><%= cl_image_tag n.bookmark.user.profile_pic %></div>
          <% end %>
          <div class="card-info size"> <%= link_to n.bookmark.user.username, user_path(n.bookmark.user) %>  bookmarked your donation to <%= link_to n.bookmark.episode.name, episode_path(n.bookmark.episode) %> </strong></div>
          <div class="timestamp"><%= distance_of_time_in_words(Time.now, n.created_at) %> ago</div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>






