<div class="profile-container">
  <div class="profile">
    <div class="wrapper-profile">
      <%= render 'shared/profile', user: @user %>
    </div>
  </div>
</div>
<div class="feed">
  <ul class="list-inline dashboard-tab">
    <% @podcasts.each_with_index do |podcast, index| %>
      <li class="podcast-tab-<%= index %> podcast-tab" data="<%= index %>">
        <%= podcast.name %>
      </li>
    <% end %>
  </ul>
  <div class="podcast-dashboard">
    <%= render 'shared/podcast-dashboard' %>
  </div>
</div>
