<%= form_tag create_account_path, method: :post, id: 'payment-form' do %>
  <h3>Address</h3>
  <%= label_tag 'City' %>
  <%= text_field_tag :city %>
  <%= label_tag 'State' %>
  <%= text_field_tag :state %>
  <%= label_tag 'Line 1' %>
  <%= text_field_tag :line1 %>
  <%= label_tag 'Line 2' %>
  <%= text_field_tag :line2 %>
  <%= label_tag 'Postal Code' %>
  <%= text_field_tag :postal_code %>
  <h3>Date of Birth</h3>
  <%= label_tag 'Day' %>
  <%= text_field_tag :day %>
  <%= label_tag 'Month' %>
  <%= text_field_tag :month %>
  <%= label_tag 'Year' %>
  <%= text_field_tag :year %>
  <h3>Account Information</h3>
  <br>
  <br>
  <%= label_tag 'Last 4 Digits of SSN' %>
  <%= text_field_tag :ssn %>
  <br>
  <label for="card-element">
    Credit or debit card
  </label>
  <div id="card-element">
    <!-- A Stripe Element will be inserted here. -->
  </div>
    <!-- Used to display Element errors. -->
  <div id="card-errors" role="alert"></div>
  <%= submit_tag 'Submit' %>
<% end %>
