<div class="container">
  <div class="feed user-feed">
    <div class="profile-wrapper">
      <%= render 'shared/profile', user: @user %>
    </div>
  </div>
  <div class="my-donations">
    <%= render 'shared/feed', user: @user, feed: @user.donations %>
  </div>

  <div class = "following hidden">
    <div class="feed">
      <div class="feed-search">
        <% @following.each do |user| %>
          <%= render 'shared/user-list', user: user %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="followers hidden">
    <div class="feed">
      <div class="feed-search">
        <% @followers.each do |user| %>
          <%= render 'shared/user-list', user: user %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="bookmarks hidden">
    <%= render 'shared/episode-feed', feed: @episodes, user: @user %>
  </div>
</div>
