<div class="feed">
  <% feed.each_with_index do |episode, index| %>
    <div class="col-xs-12">
      <div class="card <% if index == 0 %>card-first<% end %> <% if index == feed.size - 1 %>card-last<% end %>" data="<%= episode.id %>">
        <div class="top-row">
          <%= link_to podcast_path(episode.podcast) do %>
            <%= cl_image_tag episode.podcast.artwork, height: 100, width: 100 %>
          <% end %>
          <h2 class= 'episode-name hidden-xs'>
            <%= link_to episode_path(episode) do %>
              <%= episode.name %>
            <% end %>
          </h2>
          <h2 class= 'small-episode-name hidden-sm hidden-md hidden-lg'>
            <%= link_to episode_path(episode) do %>
              <%= episode.name %>
            <% end %>
          </h2>
        </div>
        <div class="bottom-row">
        <p class="podcast-name text-right hidden-xs hidden-sm">
            <%=
              name = episode.podcast.name.split(' ')
              while name.join(' ').length > 30
                name.pop
              end
              "#{name.join(' ')}"
             %>
          </p>
          <div class="favo-icons-right">
            <% if current_user.saved_episodes.include?(episode) %>
              <%= link_to bookmark_path(Bookmark.find_by(episode_id: episode.id), episode_id: episode), remote: true, method: :delete do %>
                <i class="yellow fas fa-star star"></i>
              <% end %>
            <% else %>
              <%= link_to bookmarks_path(episode_id: episode), method: :post do %>
                <i class="fas fa-star star"></i>
              <% end %>
            <% end %>
            <%= link_to '#' do %>
              <i class="fas fa-play"></i>
            <% end %>
            <%= link_to "DONATE", episodes_path, data: { toggle: "modal", target: "#myModal", podcast: episode.podcast.name, episode: episode.name }, class: "btn btn-red btn-sm modal-trigger" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
