<div class="feed">
  <% feed.each do |episode| %>
    <div class="col-xs-12">
      <div class="card" data="<%= episode.id %>">
        <div class="top-row">
          <%= cl_image_tag episode.podcast.artwork, height: 100, width: 100 %>
          <h2 class= 'episode-name hidden-xs'>
            <%= episode.name %>
          </h2>
          <h2 class= 'small-episode-name hidden-sm hidden-md hidden-lg'>
            <%= episode.name %>
          </h2>
        </div>
        <div class="bottom-row">
        <p class="podcast-name text-right hidden-xs hidden-sm">
            <%=
              name = episode.podcast.name.split(' ')
              while name.join(' ').length > 30
                name.pop
              end
              "#{name.join(' ')}"
             %>
          </p>
          <div class="favo-icons">
            <% if user.saved_episodes.include?(episode) %>
              <%= link_to bookmark_path(Bookmark.find_by(episode_id: episode.id)), method: :delete, remote: true do %>
                <i class="yellow fas fa-star star"></i>
              <% end %>
            <% else %>
              <%= link_to bookmarks_path(episode_id: episode), method: :post do %>
                <i class="fas fa-star star"></i>
              <% end %>
            <% end %>
            <%= link_to '#', method: :post do %>
              <i class="fas fa-play"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>