<div class="feed">
  <% feed.each_with_index do |donation, index| %>
    <div class="card donation-card <% if index == 0 %>card-first<% end %> <% if index == feed.size - 1 %>card-last<% end %>" data="<%= donation.id %>">
      <div class="top-row">
        <%= link_to image_tag((cl_image_path(donation.user.profile_pic)).gsub("upload", "upload/w_300,h_300,c_fill")), user_path(donation.user), class: "profile-pic" %>
        <p class= 'username'>
          <strong>
            <%= link_to user_path(donation.user) do %>
            <%= donation.user.username %>
          </strong>
          <% end %>
        </p>
        <h2 class= 'episode-name hidden-xs'>
          <%= link_to episode_path(donation.episode) do %>
            <%= donation.episode.name %>
          <% end %>
        </h2>
        <h2 class= 'small-episode-name hidden-sm hidden-md hidden-lg'>
          <%= donation.episode.name %>
        </h2>
        <div class="artwork text-right">
          <%= link_to podcast_path(donation.episode.podcast) do %>
            <%= cl_image_tag donation.episode.podcast.artwork, height: 100, width: 100 %>
          <% end %>
        </div>
      </div>
      <div class="bottom-row">
        <h3 class='b-item'>
          $<%= donation.amount %>
        </h3>
        <div class="favo-icons">
          <% if user.saved_episodes.include?(donation.episode) %>
            <%= link_to bookmark_path(Bookmark.find_by(episode_id: donation.episode.id)), method: :delete, remote: true do %>
              <i class="yellow fas fa-star star"></i>
            <% end %>
          <% else %>
            <%= link_to bookmarks_path(episode_id: donation.episode, donation_id: donation), method: :post, remote: true, class: "bookmark-toggle" do %>
              <i class="fas fa-star star"></i>
            <% end %>
          <% end %>
          <%= link_to root_path do %>
            <i class="fas fa-play"></i>
          <% end %>
        </div>
        <p class="podcast-name text-right hidden-xs hidden-sm">
          <%=
          name = donation.episode.podcast.name.split(' ')
          while name.join(' ').length > 30
            name.pop
          end
          "#{name.join(' ')}"
          %>
        </p>
      </div>
    </div>
  <% end %>
</div>


<div class="toast"></div>

<script>

  //this should be in a different file
  document.querySelectorAll(".bookmark-toggle").forEach((item) => {
  item.addEventListener("ajax:success", (event) => {
    const toast = document.querySelector(".toast");
    toast.innerHTML = "ADDED TO BOOKMARKS";
    toast.classList.add("show");
    setTimeout(() => {
      toast.classList.remove("show");
    }, 4000);
  });
});

</script>



