<div class="feed">
  <% feed.each do |donation| %>
    <div class="card donation-card" data="<%= donation.id %>">
      <div class="top-row">
        <%= cl_image_tag donation.user.profile_pic, height: 70, width: 70, class: "profile-pic" %>
        <p class= 'username'><strong><%= donation.user.username %></strong></p>
        <h2 class= 'episode-name hidden-xs'>
          <%= donation.episode.name %>
        </h2>
        <h2 class= 'small-episode-name hidden-sm hidden-md hidden-lg'>
          <%= donation.episode.name %>
        </h2>
        <div class="artwork text-right">
          <%= cl_image_tag donation.episode.podcast.artwork, height: 100, width: 100 %>
        </div>
      </div>
      <div class="bottom-row">
        <h3 class='b-item'>$<%= donation.amount %></h3>
        <div class="favo-icons">
          <% if @user.saved_episodes.include?(donation.episode) %>
              <%= link_to bookmark_path(Bookmark.find_by(episode_id: donation.episode.id)), method: :delete, remote: true do %>
                <i class="yellow fas fa-star star"></i>
              <% end %>
            <% else %>
            <%= link_to bookmarks_path(episode_id: donation.episode), method: :post do %>
              <i class="fas fa-star star"></i>
            <% end %>
          <% end %>
          <%= link_to '#', method: :post do %>
            <i class="fas fa-play"></i>
          <% end %>
        </div>
        <p class="podcast-name text-right hidden-xs hidden-sm">
          <%=
            name = donation.episode.podcast.name.split(' ')
            while name.join(' ').length > 30
              name.pop
            end
            "#{name.join(' ')}"
           %>
        </p>
      </div>
    </div>
  <% end %>
</div>
