<div class="landing-page">
    <div class="container background">
      <div class="row background">
        <div class="col-md-8">
          <div class="why-mendio">
            <h2>Why Mendio?</h2>
            <div class="why-mendio--item">
              <%= image_tag("user.svg", height: 75, width: 75, :class => "image") %>
              <p>
                Follow friends, family, and other to see what podcast episodes they are recommending.
              </p>
            </div>
            <div class="why-mendio--item">
              <%= image_tag("recommended.svg", height: 75, width: 75, :class => "image") %>
              <p>
                On Mendio, a recommendation and a donation are the same thing! Any donation you make is listed on a public feed, creating a value-backed recommendation.
              </p>
            </div>
            <div class="why-mendio--item">
              <%= image_tag("donation.svg", height: 75, width: 75, :class => "image")  %>
              <p>
                Mendio runs an affiliate system that compensates user influence. As a user you can recieve a cut of any donation that occurs from the influence of your original donations.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-login">
            <h2>
              Sign up
            </h2>
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= f.error_notification %>
              <div class="form-inputs">
                <%= f.input :username, required: true, autofocus: true, class: "username-input"%>
                <%= f.input :email, required: true %>
                <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
                <%= f.input :password_confirmation, required: true %>
                <%= f.input :profile_pic, required: true %>
              </div>
              <div class="form-actions">
                <%= f.button :submit, "SIGN UP", class: "btn btn-sign-up" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-sound-wave">
    <%= image_tag("sound-wave.svg") %>
  </div>
