<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand hidden-lg hidden-md" do %>
    <%= image_tag "https://png.icons8.com/metro/1600/m-lowercase.png", height: 50 %>
  <% end %>

  <%= link_to root_path, class: "navbar-wagon-brand-desktop hidden-xs hidden-sm" do %>
    <%= image_tag "https://png.icons8.com/metro/1600/m-lowercase.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-left hidden-xs hidden-sm">
    <% if user_signed_in? %>
      <!-- Links when logged in -->
      <%= link_to "NEW DONATION", episodes_path, data: { toggle: "modal", target: "#myModal", podcast: '', episode: '' }, class: "navbar-wagon-item navbar-wagon-link menu-item modal-trigger" %>
      <%= link_to "BOOKMARKS", bookmarks_path, class: "navbar-wagon-item navbar-wagon-link menu-item" %>
      <%= link_to 'NOTIFICATIONS', notifications_path, class: "navbar-wagon-item navbar-wagon-link menu-item" %>
    <% end %>
  </div>


  <div class="navbar-wagon-right">
    <div class="search-bar">
      <%= form_tag users_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "bar-search",
        autocomplete: :off,
        placeholder: "Search Mendio" %>
      <% end %>
    </div>
      <!-- Avatar with dropdown menu -->
    <% if user_signed_in? %>
      <div class="navbar-wagon-item hidden-xs hidden-sm">
        <div class="dropdown">
          <%= cl_image_tag current_user.profile_pic, height: 35, class: "avatar", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to user_path(current_user) do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <!-- Login link (when logged out) -->
    <% else %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <% if user_signed_in? %>
          <li>
            <%= link_to "Library", bookmarks_path %>
          </li>
          <li>
            <%= link_to "New Donation", episodes_path, data: { toggle: "modal", target: "#myModal", podcast: '', episode: '' }, class: "navbar-wagon-item navbar-wagon-link menu-item modal-trigger" %>
          </li>
          <li>
            <%= link_to 'Notifications', notifications_path %>
          </li>
          <li>
            <%= link_to 'Profile', user_path(current_user) %>
          </li>
          <li>
            <%= link_to "#" do %>
              <%= t(".settings", default: "Settings") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

