<div class="profile-header">
  <%= cl_image_tag @user.profile_pic, height: 70, width: 70, class: "profile-avatar" %>
  <h3><%= @user.username %></h3>
  <% if @user == current_user %>
    <%= link_to 'Edit Profile', '#', class: "btn btn-outline-primary" %>
  <% else %>
    <% if current_user.following?(@user) %>
      <%= link_to 'Unfollow', toggle_follow_path(@user), class: 'relationship unfollow', class: "btn btn-outline-primary",method: :post, remote: true %>
    <% else %>
      <%= link_to 'Follow', toggle_follow_path(@user), class: 'relationship', class: "btn btn-outline-primary", method: :post, remote: true %>
    <% end %>
  <% end %>
</div>

<div class="social-icons">
  <div class="icon">
    <a href="/"><i class="fas fa-user-friends"></i></a>
    <h4>12</h4>
    <p>followers</p>
  </div>

  <div class="icon">
    <a href="#"><i class="fas fa-coins"></i></a>
    <h4>12</h4>
    <p>donations</p>
  </div>

  <div class="icon">
    <a href="#"><i class="fas fa-star"></i></a>
    <h4>12</h4>
    <p>bookmarks</p>
  </div>
</div>
