<div class="card notifications">
  <div class="card-image item-avatar">
    <%= link_to cl_image_tag(user.profile_pic), user_path(user) %>
  </div>
  <div class="card-info size">
    <%= link_to user.username, user_path(user) %>
  </div>
  <div>
    <% if user == current_user %>
      <%= link_to 'Edit Profile', edit_user_registration_path(current_user), class: "btn btn-red btn-sm search-btn" %>
    <% else %>
      <% if current_user.following?(user) %>
        <%= link_to 'UNFOLLOW', toggle_follow_path(user), class: "relationship unfollow btn btn-red btn-sm search-btn", method: :post, remote: true unless user.podcasts.empty? %>
      <% else %>
        <%= link_to 'FOLLOW', toggle_follow_path(user), class: "relationship btn btn-red btn-sm search-btn", method: :post, remote: true %>
      <% end %>
    <% end %>
  </div>
  <div>
    <i class="fas fa-user icon-search"></i>
  </div>
</div>
