<% if user_signed_in? %>
  <div class="wrapper">
    <%= render 'episodes/popup' %>
    <%= form_tag find_episodes_path, remote: true, method: :post do %>
      <%= hidden_field_tag 'eposode_id'%>
      <%= hidden_field_tag 'user_id', current_user %>
    <% end %>
    <div class="feed-container">
      <div class="profile-container">
        <div class="profile">
          <div class="wrapper-profile">
            <%= render 'shared/profile', user: @user %>
          </div>
        </div>
      </div>
      <% if @feed.empty? %>
        <%= render 'shared/empty_feed' %>
      <% else %>
        <div class="card-container">
          <%= render 'shared/feed', user: current_user, feed: @feed %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <%= render 'shared/landing_page' %>
<% end %>

