<% if user_signed_in? %>
<%= render 'shared/feed', feed: @feed %>
<% else %>
<div class="landing-page">
  <div class="container">
    <div class="row background">
      <div class="col-md-8">
        <div class="why-mendio">
          <h2>Why Mendio?</h2>
          <div class="why-mendio--item">
            <%= image_tag("user.svg", :class => "image") %>
            <p>Create an easy way to follow your friends, family, colleagues or other influencial people that you would love to hear on their podcast.</p></div>
            <div class="why-mendio--item">
              <%= image_tag("recommended.svg", :class => "image") %>
              <p>Recommend podcast through a new and groundbraking recommendation system.</p></div>
              <div class="why-mendio--item">
                <%= image_tag("donation.svg", :class => "image")  %>
                <p>Recommanding a podcast is based on a donation. The podcast creator will be supported as well as the people who are donating because of the initinial donation. Everybody is earning something! </p></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-login">
                <%= render 'devise/registrations/new' %>
              </div>
                <div class="form-links">
                  <%= render "devise/shared/links" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


<% end %>


