<div class="login-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="login">
          <h2>Log in</h2>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="login-input">
            <%= f.input :email, required: false, autofocus: true, placeholder: "Enter a valid e-mail"%>
            <%= f.input :password, required: false, placeholder: "Enter your password" %>
            <%= f.button :submit, "Log in", class: "login-button" %>
          </div>
            <div class="navbar-wagon-right login-links">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
