<div class="container">
  <div class="feed">
    <h3 class='podcast-title'> <%= @podcast.name %> </h3>
    <p><%= @podcast.description %></p>
    <%= form_tag find_episodes_path, remote: true, method: :post do %>
      <%= hidden_field_tag 'podcast_id', @podcast.id %>
      <%= text_field_tag :query,
      params[:query],
      autocomplete: :off,
      class: "episode-search search-input",
        placeholder: "Search for an episode"
        %>
    <% end %>
    <div class= 'ep-results'>
      <%= render 'shared/episode-feed', user: current_user, feed: @episodes %>
    </div>
  </div>
</div>
